.rubrik{
    display: flex;
    justify-content: space-evenly;
    background-color: #b5c2bc;
    margin: 0%;
}

body{
    background-color: white;
}

.noMargin{
    margin: 0%;
}

.notext{
    color: black;
    text-decoration: underline;
}

.huvud{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.intro{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 0%;
}

.map{
    display: flex;
    justify-content: center;
    height: 300px;

}