.up{
    display: flex;
    justify-content: space-evenly;
    background-color: #b5c2bc;
    margin: 0%;
}

body{
    background-color: white;
}

.noMargin{
    margin: 0%;
}

.textMargin{
    margin-bottom: 20px;
}

.notext{
    color: black;
    text-decoration: underline;
}

.subheading{
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    flex-direction: column;
}

.map{
    display: flex;
    justify-content: center;
    height: 300px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 150px;
    background-color: #b5c2bc;
    margin: 10px;

}

.welcome{
    display: flex;
    justify-content: center;
}